@{
    ViewBag.Title = "Locations";
}
@* <script src="~/Scripts/init_locations.js"></script>*@
@*<script src="~/Scripts/WellLocationViewModel.js"></script>*@
<h2>Locations</h2>
@*<div data-role ="page" >
<div data-role="panel" id ="panel">


</div>

    </div>*@


<div id="displayNode">
    <table table data-role="table" id="table-custom-2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive ui-table ui-table-columntoggle" data-column-btn-theme="b" data-column-popup-theme="a">

        <thead>
            <tr class="ui-bar-d">
                <th>Id</th>
                <th>Location</th>
                <th>Collected</th>
                <th>Dry</th>
                <th>Skipped</th>
                <th>Comment</th>
                <th>TimeStamp</th>

            </tr>
        </thead>
        <tbody data-bind="foreach: allLocations">
            <tr>
                <td data-bind="text: ID"></td>
                <td data-bind="text: LocationID"></td>
                <td data-bind="text: Collected"></td>
                <td data-bind="text: Dry"></td>
                <td data-bind="text: Skipped"></td>
                <td data-bind="text: Comment"></td>
                <td data-bind="text: Timestamp"></td>

            </tr>
        </tbody>
    </table>
    <br />
    <input type="button" id="btnGetLocations" value="Get Locations" data-bind="click: getLocations" />
</div>

<script>
    $(window).load(function(){
      //  $.when(setBindings()).then($("#btnGetLocations").click()).done(console.log("button fired")); //refresh view on page load
      //  setBindings();
    });

</script>


